article {
  border: 2px solid darkred;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

#list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row: 1fr;
  gap: 30px;
  margin-top: 40px;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popup article {
  width: 50vw;
  display: flex;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: #fffbf1;
  flex-direction: column;
  align-items: center;
}

#action-buttons {
  display: flex;
  justify-content: space-evenly;
}
